<div class="jumbotron">
    <h1>
        <img src="~/Content/images/ybq-xs.png" alt="YBQ" />
        <span class="opaque-max"><sup>FX</sup>MEMENTO</span>&diams;FIERI
    </h1>
    <p>
        This is a sample application created along the guidelines of
        <a href="http://www.amazon.com/Modern-Web-Development-Understanding-technologies/dp/1509300015/ref=sr_1_3">
            Modern Web Apps
        </a>
        book.
    </p>

</div>

<a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dashboard")" role="button">Go to demos</a>