@model TaskZero.Server.Models.Home.TaskIndexViewModel

<div class="col-xs-12 col-md-10 col-md-offset-1">
    <h2 class="hidden-xs text-center">What Are You Up To, Today?</h2>
    <hr/>

    <div class="row">
        <div class="col-xs-12 col-md-3">
            <a role="button" class="btn btn-danger btn-block btn-lg" href="@Url.Action("index", "admin")">
                <i class="fa fa-gears"></i>
                admin ...
            </a>
            <a role="button" class="btn btn-primary btn-block btn-lg" href="@Url.Action("new", "task")">
                add new task ...
            </a>
        </div>
    
        <div class="col-xs-12 col-md-9">
            <div id="task-dashboard">
                @Html.Partial("pv_TaskDashboard")
            </div>           
        </div>
    </div>
</div>

<script>
    $("button[data-action-delete]").click(function (evt) {
        evt.stopPropagation();
        var id = $(this).data("action-delete");
        if (confirm("Are you sure?")) {
            var url = "/task/delete/" + id;
            Ybq.post(url,
                "",
                function(response) {
                    if (response.Success) {
                        // Refresh list of tasks
                        Ybq.invoke("/dashboard/tasklist", function(html) {
                            $("#task-dashboard").html(html);
                        });
                    }
                });
        }
    })
</script>

<script>
    $("button[data-action-complete]").click(function (evt) {
        evt.stopPropagation();
        var id = $(this).data("action-complete");
        if (confirm("You're going to mark this task as COMPLETE.\nAre you sure?")) {
            var url = "/task/complete/" + id;
            Ybq.post(url,
                "",
                function (response) {
                    if (response.Success) {
                        // Refresh list of tasks
                        Ybq.invoke("/dashboard/tasklist", function (html) {
                            $("#task-dashboard").html(html);
                        });
                    }
                });
        }
    })
</script>
