<div class="jumbotron">
    <h1>
        <img src="~/content/images/todolist.png" alt="YBQ" />
        <span class="opaque-max"><sup>FX</sup>MEMENTO</span>&diams;FIERI
    </h1>
    <p>
        This is a sample ASP.NET application created along the guidelines of
        <a href="http://www.amazon.com/Modern-Web-Development-Understanding-technologies/dp/1509300015/ref=sr_1_3">
            Modern Web Apps
        </a>
        book.
    </p>

</div>

<div class="col-xs-12 col-sm-10 col-sm-offset-1">
    Login is on mostly for demo purposes. Log in with any username and make sure username and password coincide.
    <hr/>
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Dashboard")" role="button">START</a>    
</div>
