USE [master]
GO
/****** Object:  Database [mfx_ReadModel]    Script Date: 11/9/2018 1:00:56 PM ******/
CREATE DATABASE [mfx_ReadModel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mfx_ReadModel', FILENAME = N'D:\My Software\Program Files\MSSQL12.MSSQLSERVER\MSSQL\DATA\mfx_ReadModel.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mfx_ReadModel_log', FILENAME = N'D:\My Software\Program Files\MSSQL12.MSSQLSERVER\MSSQL\DATA\mfx_ReadModel_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mfx_ReadModel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mfx_ReadModel]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/9/2018 1:00:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingTasks]    Script Date: 11/9/2018 1:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DueDate] [datetime] NULL,
	[CompletionDate] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[Priority] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PendingTasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
